bin
obj
dll/deployment
.*~
*resharper*
*.user
*.suo
*.sdf
*.opensdf
*.swp
debug
*.dbmdl
TestResults
sql
*.docstates
*.pyc
*.idea
*.log
*.dgml
*.msi
/sys$command
*.back.aip
*GlobalAssemblyInfo.cs
version.txt
*.jfm
licenses.licx
tools/**
.history/*
artifacts
AutomationResults
UnitTestResults
IntegrationTestResults
*.local.config
.vs/
/SolutionInfo.generated.cs
/AutomationRun
